.card {
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
}

.card .cardWrapper {
  padding: 1rem;
}

.flag {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 60px;
  width: 90px;
  object-fit: cover;
  margin-right: 10px;
}

.cardWrapper .name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.cardWrapper .capital {
  font-size: 0.8rem;
}

.cardWrapper .region {
  font-size: 0.7rem;
  font-style: italic;
}

.detail {
  border-top: 1px solid #ccc;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
  font-size: 0.8rem;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 0.5rem;
  margin-top: 5px;
  margin-bottom:3px;
}
